<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{title}}</title>
    <script type="text/javascript">
        // Add the generated YUI module configuration.
        var YUI_config = {
        };
    </script>
    <script src="{{config.wwwroot}}/lib/yuilib/{{config.yui3version}}/yui/yui.js"></script>
</head>
<body class="yui3-skin-sam">
